@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* 
    !removing default some styles
*/
:root {
  /*  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
  /* !text size */
  --fs-1: 6.2rem;
  --fs-2: 5.2rem;
  --fs-3: 4.4rem;
  --fs-4: 3.6rem;
  --fs-5: 3rem;
  --fs-6: 2.4rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.6rem;
  --fs-10: 1.4rem;
  /* !colors */
  --cls-dark: #000;
  --cls-white: #fff;
  --cls-primary: #131316;
  --cls-light-1: #494a4d;
  --cls-light-2: #e5e7eb;
  --bg-primary: #4891ff;
  --bg-light-1: #f5f5f5;
  --bg-light-2: #fafafa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 10px = 1rem */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
/* 
    !styles rules for common class
*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}
.border {
  border: 1px solid red;
}
.bg-cls {
  background-color: #494a4d;
}
.text-primary {
  color: var(--cls-primary);
}
.btn {
  border: none;
  font-size: var(--fs-9);
  border-radius: 1.6rem;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
}
/* .btn-primary {
} */
.btn-light {
  padding: 1.2rem 2.4rem;
}
.btn-light:hover {
  color: var(--bg-primary);
}
.hiden {
  display: none;
}
