@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* 
    !removing default some styles
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 10px = 1rem */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
