/* 
    !desktop
*/
@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
  /* 
    !styles rules for section-hero
  */
  .hero-contents {
    height: 550px;
  }
  .hero-contents__heading {
    font-size: var(--fs-2);
  }
  .hero-contents__text {
    font-size: var(--fs-8);
  }
  /* 
    !styles rules for section-video
  */
  /* 
    !styles rules for section-testimonial
  */
  /* 
    !styles rules for section-pricing
  */
  /* 
    !styles rules for section-faq
  */
  .faq-content {
    width: 75rem;
    margin: 0 auto;
  }
  /* 
    !styles rules for section-footer
*/
}
/* 
    !laptop
*/
@media (max-width: 1024px) {
  /* 
    !styles rules for section-hero
  */
  .hero-contents {
    height: 500px;
  }
  .hero-contents__heading {
    font-size: var(--fs-3);
  }
  /* 
    !styles rules for section-video
  */
  .video-header__title {
    width: 90%;
    font-size: var(--fs-4);
  }
  /* 
    !styles rules for section-testimonial
  */
  .testimonial-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-header__title {
    width: 75%;
    font-size: var(--fs-4);
  }
  /* 
    !styles rules for section-pricing
  */
  .pricing-contents {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing-header__title {
    font-size: var(--fs-4);
    margin-bottom: 1.8rem;
  }
  .pricing-box__title {
    font-size: var(--fs-5);
    margin-bottom: 1rem;
  }
  .pricing__des button {
    width: 30%;
  }
  /* 
    !styles rules for section-faq
  */
  .faq-header__title {
    font-size: var(--fs-5);
    margin-top: 7rem;
  }
  .faq-content {
    width: 70rem;
    margin: 0 auto;
  }
  /* 
    !styles rules for section-footer
*/
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-content-1 {
    grid-column: span 1;
  }
}
/* 
    !tablet
*/
@media (max-width: 768px) {
  /* 
    !styles rules for section-header
  */
  .header-contents-left {
    z-index: 100;
  }
  .header-contents-menu {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--cls-light-2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 1rem 1.6rem;
    transition: 0.5s;
    opacity: 1;
  }
  .visibility {
    z-index: -1;
    opacity: 0;
  }
  .hamburger-menu {
    display: block;
    z-index: 100;
  }
  /* 
    !styles rules for section-hero
  */
  .hero-contents {
    width: 100%;
    text-align: center;
  }
  .hero-contents__heading {
    width: 100%;
    font-size: var(--fs-4);
  }
  .hero-contents__text {
    padding-top: 2rem;
    font-size: var(--fs-8);
    width: 90%;
    margin: 0 auto;
  }
  /* 
    !styles rules for section-video
  */
  .video-header__title {
    width: 95%;
    font-size: var(--fs-5);
  }
  .video-content__btn {
    display: block;
    width: 100%;
  }
  /* 
    !styles rules for section-testimonial
  */
  .testimonial-header__title {
    width: 80%;
    font-size: var(--fs-5);
  }
  .testimonial-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 22.8rem;
  }
  /* 
    !styles rules for section-pricing
  */
  .pricing-contents {
    grid-template-columns: repeat(1, 1fr);
  }
  .pricing-header__title {
    font-size: var(--fs-4);
    margin-bottom: 1.8rem;
  }
  .pricing-header__text {
    font-size: var(--fs-9);
    margin-bottom: 3rem;
  }
  .pricing-box__title {
    font-size: var(--fs-5);
    margin-bottom: 1rem;
  }
  .pricing__des button {
    width: 100%;
    margin: 0 auto;
  }
  /* 
    !styles rules for section-faq
  */
  .faq-header__title {
    font-size: var(--fs-6);
    margin-top: 7rem;
  }
  .faq-content {
    width: 60rem;
    margin: 0 auto;
  }
  .faq-header-menu ul {
    width: 90%;
    gap: 2rem;
  }
  .faq-header-menu ul li {
    font-size: var(--fs-9);
    padding: 1rem 2rem;
  }
  .faq-content {
    width: 90%;
    margin: 0 auto;
  }

  .faq-box-qus i {
    padding-right: 0;
  }
  .faq-box-qus h4 {
    font-size: var(--fs-9);
  }
  .faq-box-body p {
    font-size: var(--fs-10);
  }
  /* 
    !styles rules for section-footer
*/
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* 
    !mobile
*/
@media (max-width: 568px) {
  /* 
    !styles rules for section-hero
  */
  .hero-contents {
    background-image: url("../images/hero-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position: right bottom;
    height: 90rem;
  }
  [class^="hero-contents__btn-"] {
    display: block;
    width: 100%;
  }
  /* 
    !styles rules for section-video
  */
  /* 
    !styles rules for section-testimonial
  */
  .testimonial-header__title {
    width: 100%;
  }
  /* 
    !styles rules for section-pricing
  */
  /* 
    !styles rules for section-faq
  */
  .faq-header-menu ul {
    width: 100%;
  }
  .faq-header-menu ul {
    width: 100%;
    gap: 0rem;
  }
  /* 
    !styles rules for section-footer
*/
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
