/* 
    !desktop
*/
@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
  /* 
    !styles rules for section-hero
  */
  .hero-contents {
    height: 550px;
  }
  .hero-contents__heading {
    font-size: var(--fs-2);
  }
  .hero-contents__text {
    font-size: var(--fs-8);
  }
  /* 
    !styles rules for section-video
  */
}
/* 
    !laptop
*/
@media (max-width: 1024px) {
  /* 
    !styles rules for section-hero
  */
  .hero-contents {
    height: 500px;
  }
  .hero-contents__heading {
    font-size: var(--fs-3);
  }
  /* 
    !styles rules for section-video
  */
  .video-header__title {
    width: 90%;
    font-size: var(--fs-4);
  }
}
/* 
    !tablet
*/
@media (max-width: 768px) {
  /* 
    !styles rules for section-header
  */
  .header-contents-left {
    z-index: 100;
  }
  .header-contents-menu {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--cls-light-2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 1rem 1.6rem;
    transition: 0.5s;
    opacity: 1;
  }
  .visibility {
    z-index: -1;
    opacity: 0;
  }
  .hamburger-menu {
    display: block;
    z-index: 100;
  }
  /* 
    !styles rules for section-hero
  */
  .hero-contents {
    width: 100%;
    text-align: center;
  }
  .hero-contents__heading {
    width: 100%;
    font-size: var(--fs-4);
  }
  .hero-contents__text {
    padding-top: 2rem;
    font-size: var(--fs-8);
    width: 90%;
    margin: 0 auto;
  }
  /* 
    !styles rules for section-video
  */
  .video-header__title {
    width: 95%;
    font-size: var(--fs-5);
  }
}
/* 
    !mobile
*/
@media (max-width: 568px) {
  /* 
    !styles rules for section-hero
  */
  .hero-contents {
    background-image: url("../images/hero-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position: right bottom;
    height: 90rem;
  }
  [class^="hero-contents__btn-"] {
    display: block;
    width: 100%;
  }
  /* 
    !styles rules for section-video
  */
}
