/* 
    !styles rules for section-header
*/
.section-header {
  position: relative;
}
.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
}
.header-contents__logo {
  width: 10.4rem;
}
.header-contents-menu {
  font-size: var(--fs-9);
  color: red;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header-contents-menu li a {
  color: var(--cls-primary);
  font-weight: 500;
  transition: 0.5s;
}
.header-contents-menu li a:hover {
  color: var(--bg-primary);
}
.hamburger-menu {
  display: none;
  font-size: var(--fs-8);
}
.hamburger-menu span {
  cursor: pointer;
}
/* 
    !styles rules for section-hero
*/
.hero-contents {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 600px;
}
.hero-contents__heading {
  width: 80%;
  font-size: var(--fs-1);
  margin-top: 3rem;
}
.hero-contents__text {
  margin-top: 2.4rem;
  font-size: var(--fs-7);
  width: 55%;
}
[class^="hero-contents__btn-"] {
  margin-top: 4rem;
  transition: 0.5s;
}
[class^="hero-contents__btn-"]:hover {
  opacity: 0.8;
}
.hero-contents__btn-2 {
  padding: 1.6rem 3.2rem;
  background-color: var(--bg-light-2);
  color: var(--cls-primary);
  margin-left: 1.6rem;
}
/* .section-hero {
  height: 100vh;
}
.hero-contents {
  height: inherit;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  color: var(--cls-primary);
}
.hero-contents__heading {
  width: 80%;
  font-size: var(--fs-1);
  margin-top: 3rem;
}
.hero-contents__text {
  margin-top: 2.4rem;
  font-size: var(--fs-7);
  width: 55%;
}
[class^="hero-contents__btn-"] {
  margin-top: 4rem;
  transition: 0.5s;
}
[class^="hero-contents__btn-"]:hover {
  opacity: 0.8;
}
.hero-contents__btn-2 {
  padding: 1.6rem 3.2rem;
  background-color: var(--bg-light-2);
  color: var(--cls-primary);
  margin-left: 1.6rem;
} */
