/* 
    !styles rules for section-header
*/
.section-header {
  position: relative;
}
.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
}
.header-contents__logo {
  width: 10.4rem;
}
.header-contents-menu {
  font-size: var(--fs-9);
  color: red;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header-contents-menu li a {
  color: var(--cls-primary);
  font-weight: 500;
  transition: 0.5s;
}
.header-contents-menu li a:hover {
  color: var(--bg-primary);
}
.hamburger-menu {
  display: none;
  font-size: var(--fs-8);
}
.hamburger-menu span {
  cursor: pointer;
}
/* 
    !styles rules for section-hero
*/
.hero-contents {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 600px;
}
.hero-contents__heading {
  width: 80%;
  font-size: var(--fs-1);
  margin-top: 3rem;
}
.hero-contents__text {
  margin-top: 2.4rem;
  font-size: var(--fs-7);
  width: 55%;
}
[class^="hero-contents__btn-"] {
  margin-top: 4rem;
  transition: 0.5s;
}
[class^="hero-contents__btn-"]:hover {
  opacity: 0.8;
}
.hero-contents__btn-2 {
  padding: 1.6rem 3.2rem;
  background-color: var(--bg-light-2);
  color: var(--cls-primary);
  margin-left: 1.6rem;
}
/* 
    !styles rules for section-video
*/
.section-video {
  background-color: var(--cls-primary);
  color: var(--cls-white);
  margin-top: 7rem;
  text-align: center;
  padding: 9.6rem 0;
}
.video-header__title {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: var(--fs-3);
}
.video-content__btn {
  margin-top: 6rem;
}
/* 
    !styles rules for section-testimonial
*/
.section-testimonial {
  background-color: var(--cls-primary);
  color: var(--cls-white);
}
.section-testimonial .container {
  border-top: 1px solid var(--cls-light-1);
  padding: 9rem 0;
}
.testimonial-header__title {
  width: 70%;
  font-size: var(--fs-3);
  font-size: var(--fs-3);
}
.testimonial-cards {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30.8rem;
  gap: 2.4rem;
}
[class^="testimonial-card-"] {
  background-color: var(--bg-light-1);
  color: var(--cls-primary);
  padding: 4rem;
  border-radius: 1.6rem;
}
.testimonial-card-2 {
  grid-row: span 4;
}
.testimonial-card-3 {
  grid-row: span 2;
}
.testimonial-card__text {
  font-size: var(--fs-7);
}
.testimonial-card__bio {
  margin-top: 4rem;
}
.testimonial-card__bio h5 {
  font-size: var(--fs-8);
}
.testimonial-card__bio small {
  font-size: var(--fs-9);
}
/* 
    !styles rules for section-pricing
*/
.section-pricing {
  padding: 7rem 0;
  color: var(--cls-primary);
}
.pricing-header {
  text-align: center;
}
.pricing-header__title {
  font-size: var(--fs-3);
  margin-bottom: 1.8rem;
}
.pricing-header__text {
  font-size: var(--fs-9);
  margin-bottom: 8.4rem;
}
.pricing-contents {
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  grid-template-rows: 550px;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
[class^="pricing-box-"] {
  padding: 5.6rem;
  border-radius: 1.6rem;
}
.pricing-box-1 {
  background-color: var(--bg-light-1);
}
.pricing-box-2 {
  background-color: var(--cls-primary);
  color: var(--cls-white);
}

.pricing-box__title {
  font-size: var(--fs-4);
  margin-bottom: 1rem;
}
.pricing-box__text {
  font-size: var(--fs-9);
  color: var(--cls-light-1);
}
.pricing-box-price {
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 3.2rem;
}
.pricing-box-price h3 {
  font-size: var(--fs-5);
}
.pricing-box-price span {
  font-size: var(--fs-9);
  margin-left: 0.2rem;
}
.pricing-box-lists {
  padding: 0;
  margin-top: 2rem;
  padding-top: 3.2rem;
  font-size: var(--fs-9);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.pricing-box-lists li::before {
  content: "✓";
}
.pricing__btn {
  margin-top: 3.2rem;
  display: block;
  width: 100%;
}
.pricing__des {
  margin-top: 9rem;
  text-align: center;
  font-size: var(--fs-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.pricing__des button {
  width: 18%;
  margin: 0 auto;
}
/* 
    !styles rules for section-faq
*/
.section-faq {
  padding-bottom: 9rem;
}
.section-faq .container-sm {
  border-top: 1px solid var(--bg-light-1);
  padding: 0 2rem;
}
.faq-header {
  text-align: center;
}
.faq-header__title {
  font-size: var(--fs-4);
  margin-top: 7rem;
}
.faq-header-menu ul {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: var(--bg-light-2);
  align-items: center;
  gap: 2.4rem;
  padding: 0.8rem;
  border-radius: 1.6rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.faq-header-menu ul li {
  font-size: var(--fs-9);
  padding: 1.2rem 2.4rem;
}
.faq-header-menu ul li:first-child {
  background-color: var(--bg-primary);
  border-radius: 1.6rem;
  color: var(--cls-white);
}
.faq-content {
  width: 80rem;
  margin: 0 auto;
}
.faq-box-qus h4 {
  margin-top: 4rem;
  font-size: var(--fs-8);
  margin-bottom: 1.6rem;
  width: 90%;
  border: none;
}
.faq-box-qus {
  position: relative;
}
.faq-box-qus i {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 2rem;
  font-size: var(--fs-8);
  cursor: pointer;
}
[class^="faq-box-"] {
  border-bottom: 1px solid var(--bg-light-1);
}
.faq-box-body {
  display: none;
}
.faq-box-body p {
  font-size: var(--fs-9);
  width: 85%;
  margin: 3rem 0;
  color: var(--cls-light-1);
}
.open {
  display: block;
}
/* 
    !styles rules for section-footer
*/
.section-footer {
  padding: 4rem 0;
  background-color: var(--cls-primary);
  color: var(--cls-white);
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 8.5rem;
}
.footer-content-1 {
  grid-column: span 2;
}
.footer-content__logo {
  width: 10.4rem;
}
.footer-content__box {
  background-color: var(--bg-light-1);
  color: var(--cls-primary);
  border-radius: 1rem;
  padding: 2.4rem;
  margin-top: 4rem;
}
.footer-content__box h4 {
  font-size: var(--fs-7);
  font-weight: 400;
  margin-bottom: 0.8rem;
}
.footer-content__box p {
  font-size: var(--fs-10);
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer-content__media-icon {
  display: flex;
  gap: 1rem;
}
.footer-content__media-icon i {
  font-size: var(--fs-7);
  margin-top: 4rem;
}
.footer-content__text {
  font-size: var(--fs-9);
  margin-bottom: 2rem;
}
.footer__menu {
  font-size: var(--fs-10);
  color: var(--cls-light-1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form {
  display: flex;
  gap: 0.5rem;
}
form input {
  padding: 1.2rem;
  flex-grow: 2;
  border: none;
  border-radius: 0.5rem;
}
form button {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--bg-primary);
  color: var(--cls-white);
  padding: 0 2rem;
  font-weight: 600;
}
.all-right-text {
  display: block;
  margin-top: 6rem;
  text-align: center;
  color: var(--bd-light-1);
}
